
@font-face {
    font-family: 'NotoSansJP';
    src: url("../fonts/NotoSansJP-Regular.otf"),
      url("../fonts/NotoSansJP-Regular.otf") format("opentype");
  }

//   @font-face {
//     font-family: "NotoSansJp-bold";
//     src: url("../fonts/NotoSansJP-Bold.otf"),
//       url("../fonts/NotoSansJP-Bold.otf") format("opentype");
//   }
//   @font-face {
//     font-family: "NotoSansJp-black";
//     src: url("../fonts/NotoSansJP-Black.otf"),
//       url("../fonts/NotoSansJP-Black.otf") format("opentype");
//   }
  @font-face {
    font-family: 'NotoSansJp-medium';
    src: url("../fonts/NotoSansJP-Medium.otf"),
      url("../fonts/NotoSansJP-Medium.otf") format("opentype");
  }

  
//   @font-face {
//     font-family: "NotoSerifJP";
//     src: url("../fonts/NotoSerifJP-Regular.otf"),
//       url("../fonts/NotoSerifJP-Regular.otf") format("opentype");
//   }
  @font-face {
    font-family: 'NotoSerifJP-Semibold';
    src: url("../fonts/NotoSerifJP-SemiBold.otf"),
      url("../fonts/NotoSerifJP-SemiBold.otf") format("opentype");
  }
  @font-face {
    font-family: 'NotoSerifJP-Bold';
    src: url("../fonts/NotoSerifJP-Bold.otf"),
      url("../fonts/NotoSerifJP-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: 'NotoSerifJP-Black';
    src: url("../fonts/NotoSerifJP-Black.otf"),
      url("../fonts/NotoSerifJP-Black.otf") format("opentype");
  }